.MainPage-body {
  width: calc(100vw - 250px);
  height: 100%;
  display: flex;
  background-color: #f5f6fa;
}

.MainPage-middle {
  width: calc(100% - 250px);
  height: 100%;
}

.MainPage-side {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.MainPage-side-Navbar {
  width: 100%;
  border-radius: 10px;
  height: 80%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.side-community-title {
  height: 50px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.side-community-title h1 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.UserIcon {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Community1 {
  height: 50px;
  width: 95%;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
}

.Communities {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.comm-viewAll {
  width: 95%;
  padding: 5px;
  margin-top: 15px;
}

.middle-SearchBar {
  height: 60px;
  width: auto;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}

.SearchBar-sort {
  width: 180px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SearchBar-areaSelect {
  width: 180px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SeachBar-searchInput {
  width: 48%;
  margin-right: 5px;
}

.SearchBar-left {
  display: flex;
  width: 380px;
  justify-content: space-between;
  margin-left: 5px;
}

.middle-Complaints {
  width: 100%;
  height: calc(100% - 80px);
  margin-top: 10px;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr;
}

.middle-Complaints::-webkit-scrollbar {
  width: 0.5vw;
}

.middle-Complaints::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.middle-Complaints::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(80, 63, 205, 0.5);
}

.Complaint-Box {
  width: 95%;
  height: 350px;
  justify-self: center;
  margin-top: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #fff;
}

.Complaint-Box-title {
  width: 100%;
  height: 13%;
}

.Complaint-Box-title h1 {
  font-family: "Poppins", serif;
  font-size: 4.5vh;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Complaint-lower {
  width: 100%;
  height: calc(100% - 13%);
  display: flex;
}

.Complaint-lower-descp {
  height: 100%;
  width: 60%;
}

.Complaint-lower-right {
  width: 40%;
  height: 100%;
  border-radius: 8px;
}

.lower-right-img {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lower-right-tags {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  padding: 20px;
}

.lower-descp-funct {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
}

.Complaint-vote {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  width: 15%;
  border: 2px solid grey;
  border-radius: 20px;
  padding: 0 5px;
}

.Complaint-vote h1 {
  font-size: 3.5vh;
  font-family: "Poppins", serif;
}

.vote-arrows {
  font-size: 150%;
  cursor: pointer;
}

.Complaint-comment {
  margin-left: 30px;
  display: flex;
  width: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid grey;
  border-radius: 105px;
  padding: 0 5px;
}

.Complaint-comment h1 {
  font-size: 3.5vh;
  font-family: "Poppins", serif;
}

.Complaint-report {
  margin-left: 30px;
  justify-self: flex-end;
}
.vote-report {
  font-size: 200%;
}

.Complaint-descp {
  padding: 10px;
  height: 80%;
}

.Comaplaint-functionalities {
  position: absolute;
  width: 65%;
  height: 40px;
  bottom: 5px;
  display: flex;
  align-items: center;
}

.function-reviewTag {
  margin: 10px;
  height: 30px;
  width: auto;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(27, 228, 27);
}
.function-reviewTag h1 {
  font-family: "Poppins", serif;
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.function-Type {
  margin: 10px;
  height: 30px;
  width: auto;
  border: 1px solid black;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.function-Type h1 {
  font-family: "Poppins", serif;
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.function-vote {
  display: flex;
  width: 100px;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.complaint-img-size {
  height: 100%;
}

.arrows-fill {
  color: #2f60b9;
}
